@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");

html {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.heading-font {
  font-family: "Marcellus SC", Georgia, serif;
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

/* rainbow stuff */
.rainbow-text {
  background-image: linear-gradient(to right, rgb(20, 184, 166), #f59e0b);
  background-clip: text;
  color: transparent;
  /* @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-cyan-400; */
}

.rainbow-bg {
  background: linear-gradient(to right, rgb(20, 184, 166), #f59e0b) !important;
  /* @apply bg-gradient-to-r from-primary to-cyan-400; */
}

/* Headings */
.title {
  font-size: 3rem/* 48px */;
  line-height: 1;
  /* @apply text-5xl; */
}

/* Form */
input[required],
textarea[required] {
  background-image: radial-gradient(#f00 15%, transparent 16%), radial-gradient(#f00 15%, transparent 16%);
  background-size: 1.2em 1.2em;
  background-position: right top;
  background-repeat: no-repeat;
}

.alert {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* @apply p-4 flex items-center my-4; */
  border-left-width: 4px;
  border-left-style: solid;
}
.success-alert {
  border-color: rgb(34, 197, 94);
  background-color: rgba(74, 222, 128, 0.2);
  color: rgb(34, 197, 94);
  /* @apply border-l-4 border-green-500 bg-green-400 bg-opacity-20 text-green-500; */
}
.error-alert {
  border-color: rgb(239, 68, 68);
  background-color: rgba(248, 113, 113, 0.2);
  color: rgb(239, 68, 68);
  /* @apply border-l-4 border-red-500 bg-red-400 bg-opacity-20 text-red-500; */
}
.bot-alert {
  border-color: rgb(249, 115, 22);
  background-color: rgba(251, 146, 60, 0.2);
  color: rgb(249, 115, 22);
  /* @apply border-l-4 border-orange-500 bg-orange-400 bg-opacity-20 text-orange-500; */
}